[submodule "release-2.4/kernel-module-management"]
	path = release-2.4/kernel-module-management
	url = https://github.com/rh-ecosystem-edge/kernel-module-management
	branch = release-2.4
[submodule "release-2.5/kernel-module-management"]
	path = release-2.5/kernel-module-management
	url = https://github.com/rh-ecosystem-edge/kernel-module-management
	branch = main
